body {
    background: black;
}

.main {
    background: #1a232f;
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hero {
    display: flex;
    overflow: auto;
}

.hero > * {
    flex-basis: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column
}

.image {
    height: auto;
    max-width: 100%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sec-text {
    font-weight: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 100px;
    background-color: #3882F6;
}

.action {
    color: red;
}

.image-box {
    border: solid #3882F6;
    width: 200px;
    height: 200px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
